@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Helvetica Now';
  src: url('./fonts/HelveticaNowDisplay.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-helvetica-now-display: 'Helvetica Now', sans-serif;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: gray;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  width: 1rem;
  height: 1rem;
  background-color: black;
  opacity: 1;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for Webkit-based browsers like Chrome, Safari, and newer versions of Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
